[submodule "support/expresso"]
	path = support/expresso
	url = http://github.com/visionmedia/expresso.git
[submodule "support/nstore"]
	path = support/nstore
	url = http://github.com/creationix/nstore.git
[submodule "support/redis"]
	path = support/redis
	url = git://github.com/mranney/node_redis.git
[submodule "support/step"]
	path = support/step
	url = git://github.com/creationix/step.git
[submodule "support/pattern"]
	path = support/pattern
	url = git://github.com/creationix/pattern.git
[submodule "support/mongodb"]
	path = support/mongodb
	url = git://github.com/christkv/node-mongodb-native.git